<div class="rr-container">
  <div class="rr-page-header">
    <h1 class="rr-app-title">Council Room<small class="rr-subtitle"> with votes</small></h1>
  </div>
  <div class="rr-main-content">

    {{outlet}}
  </div>
</div>